:root {
    --max-width          : 1200px;
    --brand-primary-color: #0a68ff;
}

html,
body {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

body,
html {
    // overflow-x         : hidden; //hide scroll bar(Ox)
    font-family     : 'Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei, Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif';
    background-color: #f5f5f5;
}