.homepage-container {
    max-width   : var(--max-width);
    margin      : 20px auto 0 auto;
    padding-left: 10px; // when layout < 1200px

    .custom-row {
        display: grid;

        .column {
            position : relative;
            isolation: isolate;
            margin   : 0.3125rem;
            border   : 1px solid #e7e7e7;
            display  : flex; //1 (handle bottom-content)

            &:hover {
                cursor      : pointer;
                box-shadow  : 0px 0px 0px 1px #706f6f3f;
                border-color: var(--brand-primary-color);
                transform   : translateY(-1px);
            }

            .wrapper {
                background-color: white;
                display         : flex; //2
                flex-direction  : column; //2

                .thumbnail {
                    img {
                        display      : flex;
                        width        : 100%;
                        margin-inline: auto;
                    }
                }

                .details {
                    flex           : 1 1 0%; //3
                    display        : flex; //3
                    flex-direction : column; // 3
                    justify-content: space-between; //3
                    margin         : 0.4rem;

                    .text {
                        display           : -webkit-box;
                        overflow          : hidden;
                        -webkit-box-orient: vertical;
                        line-clamp        : 2;
                        -webkit-line-clamp: 2;
                        font-size         : 0.875rem;

                        .tag-mall {
                            padding-inline   : 0.2rem;
                            font-family      : "Trebuchet MS";
                            line-height      : 1rem;
                            margin-inline-end: 3px;
                            background-color : var(--brand-primary-color);
                            color            : #fff;
                        }
                    }

                    .price {
                        margin-top : 0.5rem;
                        color      : var(--price-color);
                        font-weight: 500;
                        font-size  : 1rem;
                    }

                    .rating {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media (width > 0px) {
    .custom-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 540px) {
    .custom-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > 768px) {
    .custom-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > 1024px) {
    .custom-row {
        grid-template-columns: repeat(5, 1fr);
    }
}

// custom ant
.homepage-container {
    .ant-tabs {
        margin: 0 0.4rem;
    }

    .ant-input-number-input-wrap {
        input {
            padding: 0 0 0 3px;
        }
    }
}