.layout-admin {
    .admin-header {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 0 20px 0 0;
        border-bottom  : 1px solid #ebebeb;
    }

    .admin-footer {
        //C1:
        height     : 55px;
        line-height: 55px;
        text-align : center;

        //C2:
        // padding: 20px 0;
        // margin : auto;
    }
}