.header-container {
    position        : sticky; //fixed header when scroll
    top             : 0;
    z-index         : 100;
    background-color: #fff;

    .page-header {
        display            : flex;
        justify-content    : space-between;
        user-select        : none;
        -webkit-user-select: none; // for Chromium
        -moz-user-select   : none; // for Firefox
        height             : 55px;
        color              : #808089;
        width              : 100%;
        max-width          : 1200px;
        margin             : 0 auto;
        line-height        : 55px;

        &__toggle {
            display: none;
        }

        &__top {
            display         : flex; //when mobile screen
            width           : 85%;
            // padding-right: 16px;

            .page-header__logo {
                display    : flex;
                width      : 100%;
                align-items: center;
                gap        : 10px;

                .logo {
                    display     : block;
                    color       : var(--brand-primary-color);
                    cursor      : pointer;
                    padding-left: 10px; // when layout < 1200px

                    .icon-react {
                        font-size   : 30px;
                        position    : relative;
                        top         : 8px;
                        margin-right: 5px;

                        &.rotate {
                            -webkit-animation: spin 10s linear infinite;
                            -moz-animation   : spin 10s linear infinite;
                            animation        : spin 10s linear infinite;

                            @-moz-keyframes spin {
                                100% {
                                    -moz-transform: rotate(360deg);
                                }
                            }

                            @-webkit-keyframes spin {
                                100% {
                                    -webkit-transform: rotate(360deg);
                                }
                            }

                            @keyframes spin {
                                100% {
                                    -webkit-transform: rotate(360deg);
                                    transform        : rotate(360deg);
                                }
                            }
                        }
                    }

                    .icon-search {
                        position: relative;
                        left    : 35px;
                        top     : 2px;
                    }
                }

                .input-search {
                    height       : 40px;
                    outline      : none; // when typing is outline is none
                    padding      : 5px 30px;
                    border-radius: 6px;
                    border       : 1px solid #ddd;
                    flex         : 1;
                }
            }
        }

        &__bottom {
            display    : flex; // when mobile screen
            white-space: nowrap; // fix link break (Đăng nhập) when md screen

            .navigation {
                display: block;
                opacity: 1;
                height : auto;

                &__item {
                    opacity: 0.8;
                    display: inline-block;
                    padding: 0 5px;

                    &:nth-child(3) {
                        font-size: 0.875rem;
                        opacity  : 1;

                        span {
                            &:hover {
                                cursor: pointer;
                                color : var(--brand-primary-color);
                            }
                        }
                    }

                    .icon-cart {
                        font-size: 20px;
                        position : relative;
                        top      : 5px;
                        color    : var(--brand-primary-color);

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 540px) {
    .header-container {
        padding: 0 10px;

        .page-header {
            display: flex;

            &__top {
                .page-header__logo {
                    .logo {
                        display: none; // phải bọc đồng bộ như ở trên thì mới hoạt động, k thì cần !important
                    }
                }
            }

            &__toggle {
                display  : block;
                font-size: 2em;
                margin   : auto;
            }

            &__bottom {
                justify-content: center;
                flex-grow      : 1; // flex: 1

                .navigation {
                    display      : block;
                    // opacity   : 1;
                    // height : auto;

                    &__item {
                        opacity: 0.8;
                        display: inline-block;

                        &:hover {
                            cursor : pointer;
                            opacity: 1;
                        }

                        &.mobile {
                            display: none;
                        }
                    }
                }
            }
        }
    }


}